.pixel-block {
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
width: 20em;
height: 20em;
}
.pixelized--heart {
display: block;
width: 1em;
height: 1em;
box-shadow:
5em 3em  #FFE5CC,
6em 3em  #FFE5CC,
5em 4em  #FFE5CC,
6em 4em  #FFE5CC,
5em 5em  #FFE5CC,
6em 5em  #FFE5CC,
5em 6em  #FFE5CC,
6em 6em  #FFE5CC,
5em 7em  #FFE5CC,
6em 7em  #FFE5CC,
5em 8em  #FFE5CC,
6em 8em  #FFE5CC,
4em 1em  #FFE5CC,
4em 2em  #FFE5CC,
7em 2em  #FFE5CC,
4em 3em  #FFE5CC,
7em 3em  #FFE5CC,
4em 4em  #FFE5CC,
7em 4em  #FFE5CC,
4em 5em  #FFE5CC,
7em 5em  #FFE5CC,
4em 6em  #FFE5CC,
7em 6em  #FFE5CC,
4em 7em  #FFE5CC,
7em 7em  #FFE5CC,
4em 8em  #FFE5CC,
7em 8em  #FFE5CC,
5em 3em  #FFE5CC;
6em 3em  #FFE5CC;
5em 4em  #FFE5CC;
6em 4em  #FFE5CC;
5em 5em  #FFE5CC;
6em 5em  #FFE5CC;
5em 6em  #FFE5CC;
6em 6em  #FFE5CC;
5em 7em  #FFE5CC;
6em 7em  #FFE5CC;
5em 8em  #FFE5CC;
6em 8em  #FFE5CC;
}
