.pixel-block {
position: absolute;
top: 50%;
left:50%;
transform: translate(-50%, -50%);
width: 10em;
height: 10em;
}
.pixelized--heart {
display: block;
width: 1em;
height: 1em;
box-shadow:
3em 5em #F22613,
3em 6em #F22613,
4em 5em #F22613,
4em 6em #F22613,
5em 5em #F22613,
5em 6em #F22613,
6em 5em #F22613,
6em 6em #F22613,
7em 5em #F22613,
7em 6em #F22613,
8em 5em #F22613,
8em 6em #F22613,
1em 4em #F22613,
2em 4em #F22613,
2em 7em #F22613,
3em 4em #F22613,
3em 7em #F22613,
4em 4em #F22613,
4em 7em #F22613,
5em 4em #F22613,
5em 7em #F22613,
6em 4em #F22613,
6em 7em #F22613,
7em 4em #F22613,
7em 7em #F22613,
8em 4em #F22613,
8em 7em #F22613;
}
